In [ ]:
pip install pandas
#install pandas if not already installed

In [29]:
#import my csv file from github and then print the head to make sure it imported ok/looks ok
#create pandas dataframe

import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/oheag2/UCDPA_GillianOHea/main/work_life.csv', index_col=0)

print(df.head())

     2021        City      Country Remote Jobs Overworked Population  \
2022
1       2        Oslo       Norway      41.72%                11.20%
2       -        Bern  Switzerland      44.86%                11.40%
3       1    Helsinki      Finland      38.92%                12.70%
4       3      Zurich  Switzerland      44.86%                11.90%
5       5  Copenhagen      Denmark      41.42%                10.50%

      Minimum Vacations Offered (Days) Vacations Taken (Days)  Unemployment  \
2022
1                                   25                     25          94.7
2                                   20                     25          99.8
3                                   25                     30          89.3
4                                   20                     25          99.2
5                                   25                     28          94.8

     Multiple Jobholders Inflation  ... Healthcare  \
2022                                ...
1                  9.10%     6.47%  ...      100.0
2                  7.60%     1.80%  ...       99.6
3                  6.30%     4.79%  ...       96.7
4                  7.60%     1.80%  ...       99.2
5                  7.60%     5.18%  ...       94.8

      Access to Mental Healthcare  Inclusivity & Tolerance  Affordability  \
2022
1                            85.0                     93.2           59.4
2                            78.6                     94.6           69.9
3                            73.0                     93.9           65.0
4                            78.6                     87.5           71.6
5                            77.6                     95.2           65.3

      Happiness, Culture & Leisure  City Safety  Outdoor Spaces  Air Quality  \
2022
1                             88.8         86.5            95.6         97.5
2                            100.0         91.8            87.1        100.0
3                             96.3         94.9            86.0         97.0
4                             91.5         92.8            84.0         96.2
5                             92.5         95.7            75.5         95.1

      Wellness and Fitness  TOTAL SCORE
2022
1                     65.7       100.00
2                     69.1        99.46
3                     68.3        99.24
4                     68.7        96.33
5                     66.3        96.21

[5 rows x 23 columns]

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 1 to 100
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   2021                              100 non-null    object
 1   City                              100 non-null    object
 2   Country                           100 non-null    object
 3   Remote Jobs                       100 non-null    object
 4   Overworked Population             100 non-null    object
 5   Minimum Vacations Offered (Days)  100 non-null    int64
 6   Vacations Taken (Days)            100 non-null    object
 7   Unemployment                      100 non-null    float64
 8   Multiple Jobholders               100 non-null    object
 9   Inflation                         100 non-null    object
 10  Paid Parental Leave (Days)        100 non-null    object
 11  Covid Impact                      100 non-null    float64
 12  Covid Support                     100 non-null    float64
 13  Healthcare                        100 non-null    float64
 14  Access to Mental Healthcare       100 non-null    float64
 15  Inclusivity & Tolerance           100 non-null    float64
 16  Affordability                     100 non-null    float64
 17  Happiness, Culture & Leisure      100 non-null    float64
 18  City Safety                       100 non-null    float64
 19  Outdoor Spaces                    100 non-null    float64
 20  Air Quality                       100 non-null    float64
 21  Wellness and Fitness              100 non-null    float64
 22  TOTAL SCORE                       100 non-null    float64
dtypes: float64(13), int64(1), object(9)
memory usage: 18.8+ KB

In [22]:
df.describe()

,Minimum Vacations Offered (Days),Unemployment,Covid Impact,Covid Support,Healthcare,Access to Mental Healthcare,Inclusivity & Tolerance,Affordability,"Happiness, Culture & Leisure",City Safety,Outdoor Spaces,Air Quality,Wellness and Fitness,TOTAL SCORE
count,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.0000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000
mean,14.410000,93.292000,77.875000,84.95300,88.753000,72.143000,88.7510,74.280000,81.474000,63.863000,84.826000,94.95200,64.404000,85.169200
std,6.313518,5.888556,6.959949,6.91823,8.483537,8.688286,7.9538,10.427479,8.567081,17.062267,7.817225,6.07363,7.189666,7.619014
min,6.000000,50.000000,50.000000,50.00000,50.000000,50.000000,50.0000,50.000000,50.000000,1.000000,50.000000,50.00000,50.000000,50.000000
25%,10.000000,92.675000,74.150000,81.10000,86.000000,66.600000,85.9500,66.300000,77.550000,55.375000,80.800000,95.25000,59.775000,81.795000
50%,10.000000,94.850000,78.350000,84.90000,89.000000,67.500000,90.1000,74.550000,82.700000,62.400000,85.550000,96.15000,63.200000,84.905000
75%,20.000000,95.950000,82.350000,89.45000,94.800000,78.600000,93.5000,82.050000,86.325000,74.250000,90.100000,97.30000,67.625000,90.245000
max,30.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.0000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000

In [ ]:
df["Remote Jobs"]

In [ ]:
df.isnull().sum()

In [36]:
#rename columns to more usable titles

df.columns = ["2021", "city", "country", "remote_jobs", "overworked", "vacation_offered", "vacation_taken", "unemployment", "mult_jobs", "inflation", "parental_leave", "covid_impact", "covid_support", "healthcare", "mental_healthcare", "inclusivity", "affordability", "happ_cult_leis", "city_safety", "outdoor", "air_qual", "wellness", "total_score"]

In [39]:
print(df.head())

     2021        city      country remote_jobs overworked  vacation_offered  \
2022
1       2        Oslo       Norway      41.72%     11.20%                25
2       -        Bern  Switzerland      44.86%     11.40%                20
3       1    Helsinki      Finland      38.92%     12.70%                25
4       3      Zurich  Switzerland      44.86%     11.90%                20
5       5  Copenhagen      Denmark      41.42%     10.50%                25

     vacation_taken  unemployment mult_jobs inflation  ... healthcare  \
2022                                                   ...
1                25          94.7     9.10%     6.47%  ...      100.0
2                25          99.8     7.60%     1.80%  ...       99.6
3                30          89.3     6.30%     4.79%  ...       96.7
4                25          99.2     7.60%     1.80%  ...       99.2
5                28          94.8     7.60%     5.18%  ...       94.8

      mental_healthcare  inclusivity  affordability  happ_cult_leis  \
2022
1                  85.0         93.2           59.4            88.8
2                  78.6         94.6           69.9           100.0
3                  73.0         93.9           65.0            96.3
4                  78.6         87.5           71.6            91.5
5                  77.6         95.2           65.3            92.5

      city_safety  outdoor  air_qual  wellness  total_score
2022
1            86.5     95.6      97.5      65.7       100.00
2            91.8     87.1     100.0      69.1        99.46
3            94.9     86.0      97.0      68.3        99.24
4            92.8     84.0      96.2      68.7        96.33
5            95.7     75.5      95.1      66.3        96.21

[5 rows x 23 columns]

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 1 to 100
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   2021               100 non-null    object
 1   city               100 non-null    object
 2   country            100 non-null    object
 3   remote_jobs        100 non-null    object
 4   overworked         100 non-null    object
 5   vacation_offered   100 non-null    int64
 6   vacation_taken     100 non-null    object
 7   unemployment       100 non-null    float64
 8   mult_jobs          100 non-null    object
 9   inflation          100 non-null    object
 10  parental_leave     100 non-null    object
 11  covid_impact       100 non-null    float64
 12  covid_support      100 non-null    float64
 13  healthcare         100 non-null    float64
 14  mental_healthcare  100 non-null    float64
 15  inclusivity        100 non-null    float64
 16  affordability      100 non-null    float64
 17  happ_cult_leis     100 non-null    float64
 18  city_safety        100 non-null    float64
 19  outdoor            100 non-null    float64
 20  air_qual           100 non-null    float64
 21  wellness           100 non-null    float64
 22  total_score        100 non-null    float64
dtypes: float64(13), int64(1), object(9)
memory usage: 18.8+ KB